@import '~antd/es/style/variable.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

.ant-page-header {
  background-color: unset;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

.ant-pro .ant-pro-layout .ant-pro-layout-content {
  width: unset !important;
  margin-top: 0;
  padding-top: unset;
  padding-inline: unset;
  padding-block: unset;
}

.ant-pro-global-header-logo h1 {
  color: #fff;
}

.ant-pro-form-group {
  .ant-space-vertical,
  .ant-space-item {
    width: 100%;
  }
}

canvas {
  display: block;
}

body {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;

    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;

        > span {
          display: block;
        }
      }
    }
  }
}
